<?xml version="1.0" ?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="test" frontName="test">
            <module name="Training_Test"/>
        </route>
<!--        <route id="cms" frontName="cms">-->
<!--            <module name="Training_Test" before="Magento_Cms"/>-->
<!--        </route>-->
<!--        catalog-product-view-->
        <route id="catalog" frontName="catalog">
            <module name="Training_Test" before="Magento_Catalog"/>
        </route>
        <route id="training_render" frontName="training_render">
            <module name="Training_Test"/>
        </route>
    </router>
</config>
